body{
    margin: 0px;
    background-color: goldenrod;
    text-align: center;
    align-content: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url('../images/blurred-7.jpg');
}

h1{
    color: #28a745;
    text-align: center;
    padding: 20px;
    margin-top: 55px;
    font-weight: bolder;
}

.row{
    margin-left: 38%;
    margin-right: 30%;
}

.col{
   width: 80px;
   height: 80px;
   background-color: white;
   margin: 3px;
   padding: 10px;
   font-size: 30px;
}

.newGameButton{
    padding: 10px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 0.2em;
}

.gameResult{
    position: absolute;
    margin-top: -390px;
    margin-left: 350px;
    font-size: 40px;
}
  
.footer {
    /* background-image: url("../images/vintage3.jpg"); /* Set backgroung image in footer */
    background-color: #2c3136;
    position: fixed; /* The footer is positioned relative to the browser window */
    left: 0; /* Set footer from the left at 0px */
    bottom: 0; /* Set footer from the bottom at 0px */
    width: 100%; /* Set withd to 100% */
    color: white; /* Set the text color */
    text-align: right; /* set the text alignment to right */
}